<div class="form-group {{#if error}}has-error has-feedback{{/if}}">
  <label for="{{fieldId}}">{{{label}}} {{#ifCond field.allowNull false}}*{{/ifCond}}</label>
  <p class="help-block">{{{help}}}</p>
  <span class="help-block">{{error.message}}</span>
  <textarea id="{{fieldId}}" name="{{name}}" we-editor-focus="{{field.formFieldFocus}}"  class="form-control">{{value}}</textarea>

  {{{field-help-error error}}}
</div>

<script>$(document).ready(function() {
  tinymce.init({
    menubar: false,
    selector:'#{{fieldId}}',
    height: '{{field.formFieldHeight}}',
    max_height: '{{field.formFieldMaxHeight}}'
  });
});</script>